
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="~/images/logo .ico">
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/public.css" rel="stylesheet" />

    <title>阳光公益|让爱传递下去</title>
</head>
<body>
    <div class="popup-container">
        <div class="img-flex"></div>
        <div class="box">
            <div class="title">
                <span style="color:#fff;">阳光公益 · 让爱传递</span>
            </div>
            <div>
                <span style="color:#fff;font-size:20px;background:rgb(244,67,54);"> 从每一处细致服务到每一个微笑</span>
            </div>
            <div class="speak">
                <span style="color:#fff;">公益介绍:</span>

                <span style="color:#fff;">公益是公共利益事业的简称。这是为人民服务的一种通俗讲法。指有关社会公众的福祉和利益。“公益”为后起词，五四运动后方才出现，其意是“公共利益”。</span>
            </div>
            <div class="inrun">
                <div class="inrun_on"><a href="index.html">进入官网</a></div>
                <div class="inrun_off">更多服务</div>
            </div>
        </div>
    </div>
</body>
<script src="~/Scripts/js/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/js/fragment.js"></script>
</html>
