
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="shortcut icon" href="~/images/logo .ico">
    <link href="~/css/public.css" rel="stylesheet" />
    <link href="~/css/psct.css" rel="stylesheet" />
    <script src="~/Scripts/js/jquery-1.11.3.min.js"></script>
</head>
<body style="background:#f3f3f5">
    <!-- **************pc端界面代码************** -->
    <!-- **************导航栏************** -->

    <div class="ur">
        <div class="ur_ct">
            <div class="ur_lf"></div>
            <div class="ur_rg">
                <ul>
                    <li class="ur_ig"></li>
                    <li class="ur_cgps">俺的肚皮不能减</li>
                    <li class="ur_cgps">|</li>
                    <li class="ur_cgps"><a href="">修改密码</a></li>
                    <li class="ur_cgps"><a href="">退出</a></li>
                    <li class="ur_cgps">@Html.ActionLink("回到首页","Index")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt_tc">
        <!-- **************左边导航菜单栏************ -->
        <div class="pt_ct">
            <div class="pt_mod_side">
                <div class="pt_lf_nv">
                    <p><span class="m_donate"></span></p>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="showMsApprove('MyDonationApprove', 'Approve')">我的捐款记录</a></li>
                    </ul>
                </div>
                <div class="pt_lf_nv">
                    <p><span class="m_activity"></span></p>
                    <ul>
                        <li><a href="">我参加的</a></li>
                    </ul>
                </div>
                <div class="pt_lf_no">
                    <p><span class="m_item" style="left:16px"></span></p>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="showMsApprove('ApproveWayChoose', 'Home')">我的项目</a></li>
                        <li><a href="javascript:void(0)" onclick="showMsApprove('InitiatesProjects', 'Approve')">发起新项目</a></li>
                        <!-- <li><a href="javascript:void(0)" onclick="showMsApprove('pt_individual_event','pt_mod_plate')">个人项目</a></li>
                        <li><a href="javascript:void(0)" onclick="showMsApprove('pt_donation_record','pt_mod_plate')">非公募机构</a></li>
                        <li><a href="">慈善机构(公募)</a></li> -->
                    </ul>
                </div>

            </div>
            <div class="pt_mod_plate">
                <!-- **************捐款记录视图************ -->




            </div>
            <!-- **************我参加的活动视图************ -->
            <!-- **************慈善机构注册视图************ -->
        </div>
    </div>
    <!-- **************网站底部信息反馈部分************** -->
    <div class="survey">
        <div class="survey_ct">
            <div class="survey_lf">
                <div>
                    <p><span>阳光公益有限公司</span></p>
                    <p>
                        <span style="color:rgb(255, 232, 133)">电话：</span>
                        <span>400-xxx-1080</span>
                        <span>Email：kefu@xxxx.com</span>
                        <span>网址： http://www.xxxxxx.com</span>
                    </p>
                    <p><span style="color:rgb(255, 232, 133)">总部地址：</span><span>柳州职业技术学院</span></p>
                    <p>Copyright © 2009 - 2014 Cld , All Rights Reserved 阳光公益有限公司  版权所有 </p>
                    <p><span>陕ICP备1xxxxx17号</span></p>
                </div>
            </div>
            <div class="survey_rg">
                <div>
                    <form action="">
                        <input type="text" placeholder="您的姓名" />
                        <input type="text" placeholder="联系方式" />
                        <textarea placeholder="反馈的意见"></textarea>
                        <input type="button" value="反馈信息" style="background:#fff;cursor: pointer;color:#000" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="zc_mack"></div>
    <div class="authentication_success">
        <div class="as_logo"></div>
        <div class="as_ch"><p>认证成功</p></div>
        <div class="as_tz"><span class="as_time"></span><span>秒之后跳转页面</span>@Html.ActionLink("点击跳转", "PersonalCenter", "Home")</div>
    </div>


    <script type="text/javascript">
        // 定时跳转页面
        // alert($(".zc_mack").css("transform"));
        function countDown(){
            var time=3;
            $(".as_time").text(time);
            var asTime=setInterval(function(){
                time--;
                if(time==0){
                    clearInterval(asTime);
                    showMsApprove("myProject");
                    $(".zc_mack").css("display","none");
                    $(".authentication_success").css("transform","translate(-50%,-50%) scale(0)");
                }
                $(".as_time").text(time);
            },1000)
        }
        // 默认显示的页面
        showMsApprove('MyDonationApprove', 'Approve');
        // 遮罩层代码
        $(".zc_mack").css({"width":$(window).width(),"height":$(window).height()});

        // 跳转链接代码
        function showMsApprove(actionname,contorname){
            $(".pt_mod_plate").load("/" + contorname + "/" + actionname + "");
        }

         $(window).resize(function(){
            $(".zc_mack").css({"width":$(window).width(),"height":$(window).height()});
        })
    </script>
</body>
</html>