
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心-个人认证</title>
    @*<link rel="stylesheet" type="text/css" href="css/psct.css">*@
</head>
<body>
    <!-- **************个人项目注册视图************ -->
    <div class="pt_individual_event" id="pt_individual_event">
        <div class="main_title">
            <p style="font-size:20px">用户个人认证登录 <span style="font-size:13px"> (以下信息所有信息均为必填项)</span></p>
        </div>
        <form action="">
            <div class="form_widget">
                <div class="form_group">
                    <div class="col_side fg_col">账户名:</div>
                    <div class="fg_col">俺的肚皮不能减</div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">真实名称:</div>
                    <div>
                        <input class="form_input" id="realName" type="text" />
                        <span class="form_errow"></span>
                        <div class="fg_col fz_col">
                            <span>(请务必填写真实姓名，绑定认证后将无法修改)</span>
                        </div>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">身份证号:</div>
                    <div>
                        <input type="text" id="identityNumber" class="form_input" />
                        <span class="form_errow"></span>
                        <div class="fg_col fz_col">
                            <span>(请填写匹配身份证号，绑定认证后将无法修改)</span>
                        </div>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">验证码:</div>
                    <a style="cursor:pointer"><img id="imgCode" src="~/VCode/Code.ashx" /></a>
                    <input type="text" id="txtCode" width="50" />
                    <input type="button" id="btnAdd" value="点击认证" class="form_approve" />
                    <div class=""></div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function () {
            $("#btnAdd").click(function () {
                $.post("/Approve/AutoUserApprove", { realName: $("#realName").val(), identityNumber: $("#identityNumber").val(), txtCode: $("#txtCode").val() }, function (msg) {

                });
            });
        });
        var captcha_img = $('#imgCode');
        var verifyimg = captcha_img.attr("src");
        captcha_img.attr('title', '点击刷新');
        captcha_img.click(function () {
            if (verifyimg.indexOf('?') > 0) {
                $(this).attr("src", verifyimg + '&random=' + Math.random());
            } else {
                $(this).attr("src", verifyimg.replace(/\?.*$/, '') + '?' + Math.random());
            }
        });
    </script>
</body>
</html>