
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心-个人认证</title>
    @*<link rel="stylesheet" type="text/css" href="css/psct.css">*@
</head>
<body>
    <!-- **************个人项目注册视图************ -->
    <div class="pt_individual_event" id="pt_individual_event">
        <div class="main_title">
            <p style="font-size:20px">用户个人认证登录 <span style="font-size:13px"> (以下信息所有信息均为必填项)</span></p>
        </div>
        <form action="">
            <div class="form_widget">
                <div class="form_group">
                    <div class="col_side fg_col">账户名:</div>
                    <div class="fg_col">俺的肚皮不能减</div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">真实名称:</div>
                    <div>
                        <input class="form_input" type="text" />
                        <span class="form_errow">*请输入正确的姓名</span>
                        <div class="fg_col fz_col">
                            <span>(请务必填写真实姓名，绑定认证后将无法修改)</span>
                        </div>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">身份证号:</div>
                    <div>
                        <input type="text" class="form_input" />
                        <span class="form_errow">*请输入正确的身份证号码</span>
                        <div class="fg_col fz_col">
                            <span>(请填写匹配身份证号，绑定认证后将无法修改)</span>
                        </div>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">验证码:</div>
                    <input type="text" class="form_captcha" />
                    <input type="button" value="点击认证" class="form_approve" />
                    <div class=""></div>
                    <div class="form_auth_code">获取验证码</div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>