
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BeneficenceApprove</title>
</head>
<body>
    <!-- **************慈善机构注册视图************ -->
    <div> 
        公募组织认证
    </div>
</body>
</html>
