
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的捐款记录</title>
</head>
<body>
    <div class="others_contributions" id="others_contributions">
        <div class="pub_stylemid">
            <div style="height:20px;"></div>
            <p>温馨提示</p>
            <p>
                <span>财付通(或网上银行)已扣款，但没有提示成功？</span>
                <span>      由于网络传输问题造成，请不要担心，我们会在第二个工作日对账，为您更新此笔捐款的记录，请您关注。</span>
                <span>您可以<a href="">登录财付通</a>查询该笔捐款的详细支付记录。</span>
                <span>财付通(或网上银行)没有扣款？</span>
                <span>建议您重新支付一次试试看，谢谢您对公益事业的支持！</span>
            </p>
        </div>
        <div class="detail">
            <table class="mytable" cellpadding="0" cellspacing="0">
                <caption>我的捐款记录明细</caption>
                <tr>
                    <th>序号</th>
                    <th>捐款时间</th>
                    <th>捐款金额</th>
                    <th>项目</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>awdawdawdawdawd达瓦达瓦多阿瓦达阿瓦达无阿瓦达</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
