
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnBeneficenceApprove</title>
    <script src="~/Scripts/js/jquery-1.11.3.min.js"></script>
</head>
    <body>
    @*@using (Ajax.BeginForm("UnBeneficenceApprove", new AjaxOptions() {HttpMethod="post",OnSuccess = "pt_donation_record" })) {*@
        @*@using (Html.BeginForm()) {*@
         
            
        <div class="pt_donation_record" id="pt_donation_record">
            <div class="main_title">
                <p style="font-size:20px">非公益机构注册 <span style="font-size:13px"> (以下信息所有信息均为必填项)</span></p>
            </div>
            <div class="content_head_sub">
                <h3 class="content_title">机构基本信息</h3>
            </div>
            <div class="form_widget">
                <div class="form_group">
                    <div class="col_side fg_col">账户名:</div>
                    <div class="fg_col" id="fg_col">俺的肚皮不能减</div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">机构全称:</div>
                    <div>
                        <input id="form_input1" class="form_input" type="text" />
                        <span class="fz_col">(请填写机构全称，例如：腾讯公益慈善基金会)</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">机构电话:</div>
                    <div>
                        <input id="form_input2" class="form_input" type="text" />
                        <span class="fz_col">(请填写机构常用联系电话，例如：0755-83765566)</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">常驻地址:</div>
                    <div>
                        <select name="province" id="province" class="form_select">
                                <option selected='selected' value='广东'>广东</option>");
                                <option value='广西壮族自治区'>广西壮族自治区</option>");
                                <option value='云南'>云南</option>");
                        </select>
                        <span class="jg_col">省</span>
                        <select name="city" id="city" class="form_select">
                            <option selected="selected" value="南宁">南宁</option>
                            <option value="柳州">柳州</option>   
                        </select>
                        <span class="jg_col ">市</span>
                        <input id="form_input3" class="form_input" type="text" placeholder="详细地址" />
                    </div>
                </div>
            </div>
            <div class="content_head_sub">
                <h3 class="content_title">机构现状</h3>
            </div>
            <div class="form_widget">
                <div class="form_group">
                    <div class="col_side lh_col">机构登记性质:</div>
                    <div>
                        <select name="nature" id="nature" class="form_select">
                            <option selected="selected">社会团体</option>
                            <option>慈善组织</option>
                            <option>名办非企业单位</option>
                            <option>其他</option>  
                        </select>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">年募款额:</div>
                    <div>
                        <select name="annual" id="annual" class="form_select">
                            <option selected="selected">0万—50万</option>
                            <option>50万—200万</option>
                            <option>200万—1000万</option>
                            <option>1000万以上</option>  
                        </select>
                        <span class="fz_col">(请选择机构上一年的全年募款金额)</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">机构规模:</div>
                    <div>
                        <span class="jg_col">全职人数:</span>
                        <select name="fullTime" id="fullTime" class="form_select">
                            <option selected="selected">1人—10人</option>
                            <option>10人—50人</option>
                            <option>50人—100人</option>
                            <option>100人以上</option>  
                        </select>
                        @*<span class="jg_col">兼职人数:</span>
                        <select name="parttime" id="parttime" class="form_select">
                            <option selected="selected">1人—10人</option>
                            <option>10人—50人</option>
                            <option>50人—100人</option>
                            <option>100人以上</option>  
                        </select>
                        <span class="jg_col">志愿者人数:</span>
                        <select name="volunteer" id="volunteer" class="form_select">
                            <option selected="selected">1人—10人</option>
                            <option>10人—50人</option>
                            <option>50人—100人</option>
                            <option>100人以上</option>  
                        </select>*@
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">成立日期:</div>
                    <div>
                        <input id="form_input4" class="form_input" type="text" style="width:782px"/>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">官方主页:</div>
                    <div>
                        <input id="form_input5" class="form_input" type="text" style="width:782px" />
                        <br />
                        <span class="fz_col sp_indx">(请填写您的官网地址，或者机构新浪微博地址、没有设置访问权限的QQ空间、微信公众号推送文章链接 其中任意一个)</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">机构简介:</div>
                    <div>
                        <textarea name="explain" id="explain" cols="30" rows="10" style="width:782px"></textarea>
                        <br />
                        <span class="fz_col sp_indx">机构简介建议保持在200~500字。</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="col_side lh_col">验证码:</div>
                    <div>
                        <img src="~/VCode/Code.ashx" />
                        <input id="code" class="form_captcha" type="text" />
                        <input id="form_captcha" class="form_captcha" type="submit" @*onclick="showMsApprove('pt_contact','pt_mod_plate')"*@ style="cursor: pointer;" value="下一步" />
                    </div>
                </div>
            </div>
        </div>
        @* } *@
        @*<script>
            $("#form_captcha").click(function () {
                    $.post("/Approve/UnBeneficenceApprove", {
                        userName: $("#fg_col").innerHTML,//登录名
                        FullName: $("#form_input1").val(),//项目名称
                        telePhone: $("#form_input2").val(),//电话
                        provie: $("#province option:selected").text(),//省
                        city: $("#city option:selected").text(),//市 
                        residentAddress: $("#form_input3").val(),//详细地址
                        nature: $("#nature option:selected").text(), //性质
                        annual: $("#annual option:selected").text(),//年募款额
                        fullTime: $("#fullTime option:selected").text(),//全职人数
                        dateTime: $("#form_input4").val(),//时间
                        website: $("#form_input5").val(),//官网
                        explain: $("#explain").val(),//机构简介
                        code: $("#code").val() //验证码
                    },
                    function (msg) {

                    });
                });
        </script>*@
        <script>
            $("#form_captcha").click(function () {
                $.post("/Approve/UnBeneficenceApprove", {
                    userName: $("#fg_col").innerHTML,//登录名
                    FullName: $("#form_input1").val(),//项目名称
                    telePhone: $("#form_input2").val(),//电话
                    provie: $("#province option:selected").text(),//省
                    city: $("#city option:selected").text(),//市 
                    residentAddress: $("#form_input3").val(),//详细地址
                    nature: $("#nature option:selected").text(), //性质
                    annual: $("#annual option:selected").text(),//年募款额
                    fullTime: $("#fullTime option:selected").text(),//全职人数
                    dateTime: $("#form_input4").val(),//时间
                    website: $("#form_input5").val(),//官网
                    explain: $("#explain").val(),//机构简介
                    code: $("#code").val() //验证码
                },
                   function (msg) {

                   });
            });
        </script>
</body>
</html>
