
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnBeneficenceApprove</title>
</head>
<body>
    <div> 
        非公募组织认证
    </div>
</body>
</html>
