.clearfix{*zoom: 1;}
.clearfix:before,.clearfix:after{display: table;content: "";}
.clearfix:after{clear: both;}
.popup-container{position: fixed;z-index: 9999;width: 100%;height: 100%;overflow: hidden;}
.img-flex ul{font-size: 0;}
.img-flex ul li{display: block;background-repeat: no-repeat;float: left;position: relative;}
.box{width:600px;border-radius: 10px;height:350px;position: absolute;left: 50%;top:-350px;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);flex-direction:column;display: -webkit-flex;display: flex;text-align: center;}
.box .title{line-height: 87px;color:#fff;font-size: 50px;-webkit-flex:1;flex:1;}
.box .speak{-webkit-flex:1;flex:1;margin-top: 30px;color:#fff;font-size: 12px;}
.box .inrun{-webkit-flex:1;flex:1;float: left;position: relative;}
.box .inrun .inrun_on a,.box .inrun .inrun_off{margin: 0 auto;width:120px;height:50px;border:2px solid #fff;font-size: 15px;line-height: 50px;color:#fff;cursor: pointer;-webkit-transition:.3s;-moz-transition:.3s;transition:.3s;}
.box .inrun .inrun_on a{display: block;position: absolute;left:20%;}
.box .inrun .inrun_off{position: absolute;right:20%;}
.box .inrun .inrun_on a:hover,.box .inrun .inrun_off:hover{border-color:rgb(244,67,54);}