/*导航部分*/
        .ur{width:auto;background:#fff;box-shadow: 0 0 5px 0 #dbd3d3;}
        .ur .ur_ct{width:1300px;margin:0 auto;height:100px;}
        .ur_lf{float: left;width:257px;height:80px;margin:10px 0;background: url("../images/1.png");background-size: 256px 80px;}
        .ur .ur_ct .ur_rg{float: right;position: relative;}
        .ur .ur_ct .ur_rg ul li.ur_cgps{float: left;font:15px/100px '微软雅黑';margin:0 20px;color:#655d5d;}
        .ur .ur_ct .ur_rg ul li a{color:#655d5d;}
        .ur .ur_ct .ur_rg ul li a:hover{color:#2090f9;}
        .ur_ig{width:40px;height:40px;position: absolute;left: -40px;top:50%;transform:translate(0,-50%);background:url("../images/hbz.jpg");background-size: 40px 40px;border-radius: 50%;}

        /*个人设置部分*/
        .pt_ct {display: -webkit-flex;display: flex;width:1349px;margin:30px auto;background:#fff;box-shadow: 0 0 5px 0 #dbd3d3;position: relative;}
        /*.pt_ct{width:1300px;margin:30px auto;}*/
        .pt_ct .pt_mod_side{flex:.9;-webkit-flex:.9;border-right:1px dashed #dbd3d3;}
        .pt_ct .pt_mod_side .pt_lf_nv{padding:10px 0;border-bottom:1px dashed #dbd3d3;}
        .pt_ct .pt_mod_side .pt_lf_no{padding:10px 0;}
        .pt_ct .pt_mod_side p{position: relative;display:block;height:50px;}
        .pt_ct .pt_mod_side ul li{text-indent: 50px;line-height: 38px;}
        .pt_ct .pt_mod_side ul li a{color:#4b4b4b;display: block;}
        .pt_ct .pt_mod_side ul li a:hover{color:#fff;background:#44b549;}
        .pt_ct .pt_mod_side p span{display:block;width:156px;height:43px;position: absolute;left: 20px;top: 50%;transform:translate(0,-50%);}
        .pt_ct .pt_mod_side p span.m_donate{background-image: url("../images/nav/jk.png");background-size: 156px 43px;}
        .pt_ct .pt_mod_side p span.m_activity{background-image: url("../images/nav/activity.png");background-size: 156px 43px;}
        .pt_ct .pt_mod_side p span.m_item{background-image: url("../images/nav/gyhd.png");background-size: 156px 43px;}
        
        /*右侧信息部分*/
        .pt_ct .pt_mod_plate{flex:3.5;-webkit-flex:3.5;float: right;}

        /*个人认证*/
        .pt_individual_event{margin:15px;}
        .main_title{height: 36px;padding: 30px 0 10px 0;border-bottom: 1px solid rgba(68,181,73,0.09);color: #4b4b4b;line-height: 36px;}
        .form_group{margin:0 0 35px 0;}
        .col_side,.col_main{float: left;}
        .form_input{width: 300px;height:32px;border:1px solid #9b9b9b;}
        .fg_col{margin:0 30px;}
        .jg_col{margin:0 10px;line-height: 34px;}
        .lh_col{margin:0 14px 0 30px;line-height:34px }
        .fz_col{font-size: 12px;color:#9b9b9b;}
        .form_errow{font-size: 13px;color:red;}
        .form_captcha{width:80px;height:32px;margin:0 0 0 15px;border:1px solid #9b9b9b;}
        .form_approve{width:80px;height:35px;border:1px solid #9b9b9b;cursor: pointer;margin-left: 30px;}
        .form_auth_code{font:14px/30px '微软雅黑';color:green;cursor: pointer;margin:20px 0 0 110px;}
        .form_auth_code:hover{color:red;}

        /*非公募机构认证*/
        .pt_donation_record{margin:15px;}
        .content_head_sub{position: relative;height: 40px;background-color: #eee;border: 1px solid #e7e7e7;border-radius: 1px;margin: 40px 0 0 0;}
        .content_title{height: 42px;border-left: 4px solid #83a90d;line-height: 42px;padding-left: 20px;margin: -1px 0 0 -1px;}
        .form_widget{width:100%;padding:40px 0 0;}
        .form_select{width: 160px;height:34px;border:1px solid #9b9b9b;}
        .sp_indx{margin-left: 110px;}
        .form_label{padding:10px 20px;margin:0 5px;line-height: 34px;border:1px solid #9b9b9b;cursor: pointer;}

        /*联系人信息部分视图*/
        .pt_contact{margin:15px;}

        /*我的项目视图*/
        .pt_myProject{margin:15px;}
        .pt_myProject .mp_box{width:1000px;height:320px;margin:0 auto;display: -webkit-flex;display: flex;}
        .pt_myProject .mp_box div{background:#fff;flex:1;-webkit-flex:1;margin:10px;border:1px solid #c7c7c7;border-radius: 5px;cursor: pointer;}
        .pt_myProject .mp_box div:hover{background:#f3eeee;}
        .pt_myProject .mp_box div ul li.icon{width:102px;height:110px;margin:40px auto 20px;background:red;background:url("../images/icon_identity.png") no-repeat;}
        .pt_myProject .mp_box div ul li.icon_tl{text-align: center;font-size: 22px;}
        .pt_myProject .mp_box div ul li.icon_nr{text-align: center;font-size: 13px;padding-top:20px;}

        /*我的捐款记录视图*/
        .others_contributions{margin:15px 0;}
        .others_contributions .pub_stylemid{height:200px;margin:20px;border:2px solid #a3cfa4;border-radius: 5px;}
        table,th,td,caption{line-height:18px;font:13px/18px '微软雅黑';}
        .mytable caption{font:20px/40px '微软雅黑';color:#2d2d2d;border-top: 1px solid #d2d2d2;}
        .mytable td{padding:3px;  border-top:1px solid #d2d2d2;color:#2d2d2d;}
        .mytable th{width:350px;padding:6px;border-top:1px solid #d2d2d2;color:#2d2d2d;text-align: center;border-bottom:1px solid #d2d2d2;background:#a3cfa4;}
        .detail{margin:50px 20px 0 20px ;max-height:450px;overflow: auto; border-radius: 5px;}

        /*认证成功弹窗*/
        .authentication_success{width:350px;height:200px;background:#fff;position: fixed;left: 50%;top:50%;transition:.3s;transform:translate(-50%,-50%) scale(0);border-radius: 10px;box-shadow: 0 0 10px 2px #2b2b2b;}
        .as_logo{width:100px;height:100px;margin:10px auto 5px;background:url("../images/cg.png") no-repeat;background-size: 250px 250px;background-position: -118px -40px;}
        .as_ch{font:30px/38px '微软雅黑';text-align: center;}
        .as_tz{margin-top:10px;font-size: 12px;text-align: center;}

        .as_tz a{color:red;margin-left:10px;}
        /*认证失败图片定位-26px -95px*/