
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BeneficenceProject</title>
</head>
<body>
    <div> 
        这是公募组织发起的项目
    </div>
</body>
</html>
