@model SunPublicBenefit.Models.ProjectApplication

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发起项目</title>
    <style type="text/css">
        html, body, a, span, ul, b, p, input, img, li, textarea, input, h2 {
            margin: 0;
            padding: 0;
            color: #4b4b4b;
            font-family: "微软雅黑";
            text-decoration: none;
        }

            ul li {
                list-style: none;
            }
        /*导航部分*/
        .ur {
            width: auto;
            background: #fff;
            box-shadow: 0 0 5px 0 #dbd3d3;
        }

            .ur .ur_ct {
                width: 1300px;
                margin: 0 auto;
                height: 100px;
            }

        .ur_lf {
            float: left;
            width: 257px;
            height: 80px;
            margin: 10px 0;
            background: url("1.png");
            background-size: 256px 80px;
        }

        .ur .ur_ct .ur_rg {
            float: right;
            position: relative;
        }

            .ur .ur_ct .ur_rg ul li.ur_cgps {
                float: left;
                font: 15px/100px '微软雅黑';
                margin: 0 20px;
                color: #655d5d;
            }

            .ur .ur_ct .ur_rg ul li a {
                color: #655d5d;
            }

                .ur .ur_ct .ur_rg ul li a:hover {
                    color: #2090f9;
                }

        .ur_ig {
            width: 40px;
            height: 40px;
            position: absolute;
            left: -40px;
            top: 50%;
            transform: translate(0,-50%);
            background: url("hbz.jpg");
            background-size: 40px 40px;
            border-radius: 50%;
        }

        /*发起项目*/
        #center {
            width: 1002px;
            height: 700px;
            border: 2.5px solid #8a8787;
            margin: 50px auto;
            background-color: #fff;
        }

        #title {
            border-bottom: 2.5px solid #8a8787;
            background-color: #f1f1f1;
            width: 981.5px;
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
        }

        h3 {
            margin: 0;
            padding: 0;
            margin-right: 20px;
        }

        #title h3, #title span {
            display: block;
            float: left;
        }

        #center #inf li {
            float: left;
            width: 187.5px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: #0d3031;
            color: #f5f9f8;
        }

        #center .detailed {
            margin: auto;
            margin-top: 40px;
        }

        #center #inf .tab {
            background-color: #a5a749;
        }

        #center .detailed_Inf {
            margin: auto;
            width: 870px;
            height: 40px;
            margin-top: 120px;
            background-color: #d6dadc;
            padding-left: 20px;
            line-height: 40px;
            border-left: 10px solid green;
        }

        #p_Center {
            margin: auto;
        }

            #p_Center .p_Name {
                float: left;
                margin-top: 16px;
            }

            #p_Center ul li, #p_Center, #center .detailed {
                width: 900px;
            }

                #p_Center ul li {
                    margin-bottom: 20px;
                }

        #p_Field div {
            float: right;
            margin-right: 262px;
        }

        #p_Center ul li input {
            width: 200px;
            height: 30px;
        }

        #p_Center .p_Province, #p_Center ul li input {
            margin-left: 20px;
        }

        #p_Center ul li select {
            width: 80px;
            height: 30px;
        }

        #p_Field a {
            float: left;
            width: 80px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            border: 1px solid #8a8787;
            margin-right: 20px;
        }

        #p_Field .field {
            border: 1px solid green;
        }

        #p_Center span, #title span {
            color: #a09c9c;
            margin-left: 20px;
        }

        #yanZheng {
            float: left;
            width: 900px;
        }

            #yanZheng img {
                width: 100px;
                height: 40px;
                margin-left: 88px;
            }

            #yanZheng p {
                margin-right: 600px;
                display: block;
                float: right;
                color: green;
                line-height: 40px;
            }

        #sbmit .sbmit {
            width: 140px;
            height: 40px;
            margin-left: 88px;
            margin-top: 26px;
            background: #8cb10c;
            display: block;
            color: #fff;
            line-height: 40px;
            border-radius: 5px;
            text-align: center;
        }

        #p_Details, #finish {
            margin: auto;
            width: 900px;
            margin-top: 40px;
        }

            #p_Details ul li {
                float: left;
                margin-bottom: 20px;
            }

                #p_Details ul li span {
                    font-size: 12px;
                    color: #a09c9c;
                }

        #sbmit_a .sbmit_a {
            width: 140px;
            height: 40px;
            margin-left: 74px;
            margin-top: -10px;
            background: #8cb10c;
            display: block;
            color: #fff;
            line-height: 40px;
            border-radius: 5px;
            text-align: center;
        }

        #p_Details a {
            width: 100px;
            height: 30px;
            background: #7a7b75;
            display: block;
            color: #fff;
            line-height: 30px;
            border-radius: 5px;
            border: 1px solid #7a949a;
            text-align: center;
            float: left;
            margin-right: 20px;
        }

            #p_Details a:hover {
                text-decoration: underline;
            }

        #sbmit_c a:hover {
            text-decoration: underline;
        }

        #p_Details {
            display: none;
        }

        #finish {
            text-align: center;
            display: none;
        }

            #finish p {
                margin-top: 20px;
                height: 30px;
                display: block;
            }

            #finish .finish_submit {
                float: left;
                width: 900px;
                text-align: center;
            }

                #finish .finish_submit img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    float: left;
                    margin-left: 380px;
                }

                #finish .finish_submit h3 {
                    margin-right: 350px;
                    margin-top: 10px;
                }

        #sbmit_c .sbmit_c {
            width: 140px;
            height: 40px;
            margin-left: 390px;
            margin-top: 50px;
            background: #8cb10c;
            display: block;
            color: #fff;
            line-height: 40px;
            border-radius: 5px;
            text-align: center;
        }

        #sbmit a:hover {
            text-decoration: underline;
        }
    </style>
    <script src="~/Scripts/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        window.onload=function(){
            var oField=document.getElementById('p_Field');
            var aField=oField.getElementsByTagName('a');
            for (var i = 0; i < aField.length; i++) {
                aField[i].onclick=function(){
                    for (var i = 0; i < aField.length; i++) {
                        aField[i].className='';
                    }
                    this.className='field';
                }
            }
            var oBmi=document.getElementById('sbmit');
            var oNext=oBmi.getElementsByTagName('a')[0];
            var oh3=document.getElementsByClassName('h3')[0];
            var oInf=document.getElementById('inf');
            var aLis=oInf.getElementsByTagName('li');
            var center=document.getElementById('p_Center');
            var oDetails=document.getElementById('p_Details');

            oNext.onclick=function(){//保存，下一步
                center.style.display='none';
                oDetails.style.display='block';
                oh3.innerHTML='项目详情';

                for (var i = 0; i < aLis.length; i++) {
                    aLis[i].className='';
                }

                aLis[1].className='tab';
            }
            var objSubimt=document.getElementsByClassName('sbmit_a')[0];
            var detaLis=document.getElementsByClassName('detailed')[0];
            var dLed_Inf=document.getElementsByClassName('detailed_Inf')[0];
            var finish_Submit=document.getElementById('finish');
            objSubimt.onclick=function(){//提交按钮
                oDetails.style.display='none';
                finish_Submit.style.display='block';
                detaLis.style.display='none';
                dLed_Inf.style.display='none';
            }
        }
    </script>
</head>
<body style="background-color: #f1f1f1;">
    <div class="ur">
        <div class="ur_ct">
            <div class="ur_lf"></div>
            <div class="ur_rg">
                <ul>
                    <li class="ur_ig"></li>
                    <li class="ur_cgps">俺的肚皮不能减</li>
                    <li class="ur_cgps">|</li>
                    <li class="ur_cgps"><a href="">修改密码</a></li>
                    <li class="ur_cgps"><a href="">退出</a></li>
                    <li class="ur_cgps"><a href="index.html">回到首页</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="center">
        <div id="title">
            <h3>公益项目申请</h3>
            <span>(以下所有信息均为必填)</span>
        </div>
        <div class="detailed">
            <ul id="inf">
                <li class="tab">1.项目基本信息</li>
                <li style="border-left: 1px solid #a5a749;border-right: 1px solid #a5a749;">2.项目详情</li>
                <li>3.完成提交</li>
            </ul>
        </div>
        <div class="detailed_Inf">
            <h3 class="h3">项目基本信息</h3>
        </div>
        <div id="p_Center">
            <ul>
                <li class="p_Name">
                    项目名称
                    <input type="text">
                    <span>(不能超过8个字，列如‘为植物人撑起希望’)</span>
                </li>
                <li id="p_Field">
                    捐助领域
                    <div>
                        <a>疾病救助</a>
                        <a>扶贫/救灾</a>
                        <a>教育/助学</a>
                        <a style="width: 120px;">环保/动物保护</a>
                        <a>其他</a>
                    </div>

                </li>
                <li>
                    项目地点
                    <select class="p_Province">
                        <option>广西省</option>
                        <option>广东省</option>
                        <option>云南省</option>
                    </select>
                    省
                    <select>
                        <option>南宁</option>
                        <option>柳州</option>
                        <option>桂林</option>
                    </select>

                </li>
                <li>
                    筹款目标
                    <input type="text">元
                    <span>(请输入整数金额，列如 ：5000)</span>

                </li>
                <li>
                    验证码
                    <input style="width: 80px;height: 30px;margin-left: 36px;" type="text">
                </li>
            </ul>
            <div id="yanZheng">
                <img src="">
                <p>刷新验证码</p>
            </div>
            <input style="width:16px;height:16px;margin-left:88px;margin-top:20px;" type="checkbox">
            <label style="margin-left:4px;">同意并接受</label>
            <div id="sbmit">
                <a class="sbmit" href="##">保存，下一步</a>
            </div>
        </div>
        <div id="p_Details">
            <ul style="height:400px;">
                <li style="width:75px;">项目主图</li>
                <li style="width:800px;">
                    <a href="##">上传图片</a>
                    <span>(最能代表项目的焦点图，图片的尺寸不小于500 x 280px,支持jpg.gif.png格式，不能超过2MB)</span>
                </li>
                <li style="width:75px;">项目介绍</li>
                <li style="width:800px;">
                    <textarea style="width:600px;height:100px;" type="text"></textarea>
                    <span>(项目的简单介绍，不超过60个字)</span>
                </li>
                <li style="width:75px;">项目配图</li>
                <li style="width:800px;">
                    <a href="##">上传图片</a>
                    <span>(辅助的配图，3-5张图片，支持jpg.gif.png格式，不能超过2MB)</span>
                </li>
                <li style="width:75px;">项目介绍</li>
                <li style="width:800px;">
                    <input style="width: 200px;height: 30px;" type="text">标题<span style="margin-left:10px;">(向认证用户、基金会和捐款用户介绍与你发起项目之间的背景，有助于了解项目情况，建议不超200字)</span>
                    <textarea style="width:650px;height:100px;margin-top:20px;"></textarea>
                </li>
            </ul>
            <div id="sbmit_a">
                <a class="sbmit_a" href="##">提交</a>
            </div>
        </div>
        <div id="finish">
            <div class="finish_submit">
                <img src="timg.jpg" />
                <h3>完成提交！</h3>
            </div>
            <p>审核结果将在10个工作日内发送到您的QQ邮箱，请注意查收!</p>
            <div id="sbmit_c">
                <a class="sbmit_c" href="##">查看我的项目</a>
            </div>
        </div>
    </div>
</body>
</html>